{% extends 'base.html' %}

{% block body %}
<h1>About</h1>
<div class="d-flex align-items-top">
    <div class="flex-shrink-0">
        <img src="{{ url_for('static', filename='profile_images/main_image2.png') }}" class="" alt="..." style="width:200px">
    </div>
    <div class="flex-grow-1 ms-3">
        I am Jacob Hua, a Sac State Graduate with a BS in Computer Science. Currently I am trying to broaden my skills by creating and
        hosting a blog site.
    </div>
    
</div>

<p>
    This is WIP blog site that I am creating in Flask. Currently implementation of login, registration have been added.
    Future implementations will include UI redesigns, more dynamic posting, and the ability to upload and download files.
    Other features will include follow and friend system to be able easily categorize friends/followed post.
    Other possible implementations will include a web scraping functionality and more. 
</p>

{% endblock %}