{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field, render_button, render_remember %}

{% block body %}
    <div class="container-sm" style="max-width: 600px;">
        <form method="POST" enctype="multipart/form-data" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <div class="d-grid gap-1">
                    <legend class="border-bottom me-4">Account Setting</legend>
                    {{render_field(form.email)}}
                    {{render_field(form.username)}}
                    {{render_field(form.profile_image)}}
                    {{render_button(form.submit)}}
                </div>
            </fieldset>
        </form>
    </div> 
{% endblock %}