{% extends 'base.html' %}

{% block body %}
<div class="d-grid gap-3 mt-3 ml-3">
    {% for post in posts.items %}
        <div class="p-2 bg-light border shadow">
            <div class="d-flex gap-1">
                <div class="d-flex flex-column align-items-center">
                    <img class="p-0 rounded-circle" 
                    src="{{url_for('static', filename='profile_images/' + post.author.profile_image)}}" 
                    style="width: 75px; height: 75px;">
                    
                    <a class="p-0" href="#">{{ post.author.username }}</a>

                </div>
                <div class="flex-grow-1 vh-10">
                    <h2><a href="{{url_for('post.single_post', post_id = post.id)}}" style="color:inherit; text-decoration: none;">
                         {{post.title}}
                    </a></h2>
                    <p class="border overflow-auto"
                    style="height: 200px;">
                    {{post.text}}
                    </p>
                    {% for image in Image.query.filter_by(post=post) %}
                    <img src="{{url_for('static', filename='images_preview/' + image.image)}}" alt="" width="125px">
                    {% endfor %}
                </div>
            </div>     
        </div>
    {% endfor %}


    <div class="">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        
        {% if page_num %}
            {% if page_num == posts.page %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num)}}">{{ page_num }}</a>
            {% endif%} 
        {% else %}
        ...
        {% endif%}
        
        {% endfor %}
    </div>

</div>


{% endblock %}